RewriteEngine On

# Redirect routes with a trailing slash to the same route without the trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Static Routes
RewriteRule ^$ index.php [L]
RewriteRule ^blogs$ blogs.php [L]
RewriteRule ^bootcamp$ bootcamp.php [L]
RewriteRule ^blogs$ blogs.php [L]
RewriteRule ^blog$ blog.php [L]
# RewriteRule ^schools$ schools.php [L]

# # Admin Routes
RewriteRule ^admin/$ admin/index.php [L]
RewriteRule ^admin/login$ admin/login.php [L]
RewriteRule ^admin/upload_blog$ admin/upload_blog.php [L]
RewriteRule ^admin/update_blog$ admin/update_blog.php [L]
RewriteRule ^admin/delete_blog$ admin/delete_blog.php [L]
RewriteRule ^admin/appointments$ admin/appointments.php [L]
RewriteRule ^admin/logout$ admin/logout.php [L]