RewriteEngine On

# Redirect routes with a trailing slash to the same route without the trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Static Routes
RewriteRule ^$ index.php [L]
RewriteRule ^blogs$ blogs.php [L]
RewriteRule ^schools$ schools.php [L]

# Catch-all rule for undefined routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.php [L]


# # Admin Routes
# RewriteRule ^admin/$ admin/index.php [L]
# RewriteRule ^admin/users$ admin/users.php [L]
# RewriteRule ^admin/nfts$ admin/nfts.php [L]
# RewriteRule ^admin/blogs$ admin/blogs.php [L]
# RewriteRule ^admin/create_blog$ admin/create_blog.php [L]

# # Dynamic Routes
# RewriteRule ^profile/([a-zA-Z0-9]+)$ profile.php?id=$1 [L]
# RewriteRule ^creator/([a-zA-Z0-9]+)$ dashboard.php?id=$1 [L]
# RewriteRule ^dashboard/([a-zA-Z0-9]+)$ dashboard.php?id=$1 [L]
# RewriteRule ^artwork/([a-zA-Z0-9]+)$ artwork.php?id=$1 [L]
# RewriteRule ^blog/([a-zA-Z0-9]+)$ blog.php?id=$1 [L]
# RewriteRule ^delete_nft/([a-zA-Z0-9]+)$ delete_nft.php?id=$1 [L]
# RewriteRule ^reset_password/([^/]+@[^/]+\.[^/]+)$ reset_password.php?email=$1 [L]

# # Admin Dynamic Amin Routes
# RewriteRule ^admin/nft_status/([a-zA-Z0-9]+)$ admin/nft_status.php?id=$1 [L]
# RewriteRule ^admin/transaction_status/([a-zA-Z0-9]+)$ admin/transaction_status.php?id=$1 [L]
# RewriteRule ^admin/delete_blog/([a-zA-Z0-9]+)$ admin/delete_blog.php?id=$1 [L]
# RewriteRule ^admin/fund_user/([a-zA-Z0-9]+)$ admin/fund_user.php?id=$1 [L]